<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE sqlMap PUBLIC "-//ibatis.apache.org//DTD SQL Map 2.0//EN"
        "http://ibatis.apache.org/dtd/sql-map-2.dtd">


<sqlMap namespace="GjpCustomer">

    <typeAlias alias="Customer" type="com.ircloud.ydh.sdk4j.model.Customer"/>
    
    <resultMap id="BaseResultMap" class="Customer" >
	   	<result column="code"             property="code"            jdbcType="VARCHAR" />
	    <result column="name"             property="name"            jdbcType="VARCHAR" />
	    <result column="contactor"        property="contactor"       jdbcType="VARCHAR" />
	    <result column="address"          property="address"         jdbcType="VARCHAR"/>    
	    <result column="phone"    		  property="phone"   		 jdbcType="VARCHAR"/>
	    <result column="mobile"           property="mobile"   		 jdbcType="VARCHAR"/>
	    <result column="email"    		  property="email"           jdbcType="VARCHAR" /> 
    </resultMap>
    
    <resultMap id="BaseResultMapIncludeId" class="Customer" >
        <result column="id"               property="id"              jdbcType="VARCHAR" />
	   	<result column="code"             property="code"            jdbcType="VARCHAR" />
	    <result column="name"             property="name"            jdbcType="VARCHAR" />
	    <result column="contactor"        property="contactor"       jdbcType="VARCHAR" />
	    <result column="address"          property="address"         jdbcType="VARCHAR"/>    
	    <result column="phone"    		  property="phone"           jdbcType="VARCHAR"/>
	    <result column="mobile"           property="mobile"   		 jdbcType="VARCHAR"/>
	    <result column="email"     		  property="email"   	     jdbcType="VARCHAR" />
    </resultMap>
       
    <resultMap id="existedCustomerMap" class="Customer" >
        <result column="id"               property="id"              jdbcType="VARCHAR" />
	   	<result column="code"             property="code"            jdbcType="VARCHAR" />
	    <result column="name"             property="name"            jdbcType="VARCHAR" />
    </resultMap>
    
    <select id="findExistedCustomers" resultMap="existedCustomerMap">
    	select custid as id,custcode as code,custname as name from uploadCust 
    	where custcode in (
    	select custcode from uploadCust 
    	group by custcode having count(custcode) > 1)
    </select>
    
    <select id="findNewCustomers" resultMap="BaseResultMap" >
        select code1 as code,name1 as name,phone as phone,email as email,address as address from t_customer where code1 not in( select code1 from t_returned_customer)
    </select>

    <insert id="insertReturnedCustomer" parameterClass="Customer">
        insert into t_returned_customer(customerId,code1,name1,phone,email,address,status)VALUES(#id#,#code#,#name#,#phone#,#email#,#address#,1)
    </insert>
    
    <select id="findModifiedCustomer" resultMap="BaseResultMapIncludeId">
        select customerId as id,code1 as code,name1 as name,phone as phone,email as email,address as address from t_returned_customer where statu1s = 2
    </select>
    
    
    <update id="cleanReturnedCustomers">
        delete from t_returned_customer where statu1s = 2
    </update>
    
    <update id="modifySyncState"  parameterClass="Customer">
    	update uploadGoodsflag
		set flag = 
			case 
				when syncedflag = 1 then 1
				when syncedflag = 0 then 2
			end,
		syncedflag = 0
		where spcode = #code#

    </update>

	<update id="modifyExistedStatus"  parameterClass="Customer">
    	update t_returned_customer
		set code1 = code1
    </update>
    
    <update id="updateCustomerFlag"  parameterClass="java.util.Map">
    	update t_test_goods  set fmarketprice = #flag#
		where fcode = #code#
    </update>

</sqlMap>