<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE sqlMap PUBLIC "-//ibatis.apache.org//DTD SQL Map 2.0//EN"
        "http://ibatis.apache.org/dtd/sql-map-2.dtd">


<sqlMap namespace="T1Goods">

    <typeAlias alias="Goods" type="com.ircloud.ydh.sdk4j.model.Goods"/>
    
    <resultMap id="BaseResultMap" class="Goods" >
	   	<result column="code"             property="code"            jdbcType="VARCHAR" />
	   	<result column="barcode"          property="barcode"         jdbcType="VARCHAR" />
	    <result column="name"             property="name"            jdbcType="VARCHAR" />
	    <result column="marketPrice"      property="marketPrice"     jdbcType="CHAR"/>    
	    <result column="productUnitName"    property="productUnitName"   jdbcType="CHAR"/>
	    <!--<result column="productTypeId"    property="productTypeId"   jdbcType="CHAR"/>-->
	    <result column="mulspec1Name"     property="mulspec1Name"    jdbcType="VARCHAR" />
	    <result column="mulspec1Value"    property="mulspec1Value"   jdbcType="VARCHAR" />
	    <!--<result column="mulspec2Name"     property="mulspec2Name"    jdbcType="VARCHAR" />-->
	    <!--<result column="mulspec2Value"    property="mulspec2Value"   jdbcType="VARCHAR" />-->
	    <result column="property1"    property="property1"   jdbcType="VARCHAR" />
	    <result column="property2"    property="property2"   jdbcType="VARCHAR" />
	    <result column="property3"    property="property3"   jdbcType="VARCHAR" />
	    <result column="property4"    property="property4"   jdbcType="VARCHAR" />
	    <result column="property5"    property="property5"   jdbcType="VARCHAR" />
	    <result column="property6"    property="property6"   jdbcType="VARCHAR" />
	    <result column="property7"    property="property7"   jdbcType="VARCHAR" />
	    <result column="property8"    property="property8"   jdbcType="VARCHAR" />
	    <result column="property9"    property="property9"   jdbcType="VARCHAR" />
	    <result column="property10"    property="property10"   jdbcType="VARCHAR" />
	    <result column="type"             property="productTypeName" jdbcType="VARCHAR" />   
    </resultMap>
    
    <resultMap id="BaseResultMapIncludeId" class="Goods" >
        <result column="id"               property="id"              jdbcType="VARCHAR" />
        <result column="code"             property="code"            jdbcType="VARCHAR" />
        <result column="barcode"          property="barcode"         jdbcType="VARCHAR" />    
	    <result column="name"             property="name"            jdbcType="VARCHAR" />
	    <result column="marketPrice"      property="marketPrice"     jdbcType="CHAR"/>    
	    <result column="productUnitName"    property="productUnitName"   jdbcType="CHAR"/>
	    <!--<result column="productTypeId"    property="productTypeId"   jdbcType="CHAR"/>-->
	    <result column="mulspec1Name"     property="mulspec1Name"    jdbcType="VARCHAR" />
	    <result column="mulspec1Value"    property="mulspec1Value"   jdbcType="VARCHAR" />
	     <!--<result column="mulspec2Name"     property="mulspec2Name"    jdbcType="VARCHAR" />-->
	     <!--<result column="mulspec2Value"    property="mulspec2Value"   jdbcType="VARCHAR" />-->   
	    <result column="property1"    property="property1"   jdbcType="VARCHAR" />
	    <result column="property2"    property="property2"   jdbcType="VARCHAR" />
	    <result column="property3"    property="property3"   jdbcType="VARCHAR" />
	    <result column="property4"    property="property4"   jdbcType="VARCHAR" />
	    <result column="property5"    property="property5"   jdbcType="VARCHAR" />
	    <result column="property6"    property="property6"   jdbcType="VARCHAR" />
	    <result column="property7"    property="property7"   jdbcType="VARCHAR" />
	    <result column="property8"    property="property8"   jdbcType="VARCHAR" />
	    <result column="property9"    property="property9"   jdbcType="VARCHAR" />
	    <result column="property10"    property="property10"   jdbcType="VARCHAR" /> 
    </resultMap>
       
    <select id="findGoodses" resultMap="BaseResultMap">
          select  top 300
        	spbh as code,
        	spid as barcode,
        	spmch as name,
        	hshsj as marketPrice,
        	dw as productUnitName,
        	'商品规格'  as mulspec1Name,
        	shpgg as mulspec1Value,
        	'药品'  as type     	       	
        from 
        (
        select a.spid,a.spbh,a.spmch, a.shpgg, a.hshsj,a.dw,b.flag
        from spkfk a
        inner join  uploadGoodsflag b on a.spid=b.spid and a.dw != '' and a.shpgg != '' and  a.beactive != '否' and a.beactive != '合' 
		) c
        where c.flag = 0
    </select>
    
    <select id="findReturnedGoodses" resultMap="BaseResultMapIncludeId">
    	select 
			id, code, barcode, name, marketPrice, productUnitName, 
			mulspec1Name, mulspec1Value
		from uploadGoods
		where barcode in(
			select spid from uploadGoodsflag where flag = 1
		)
    </select>
    
    	
    <insert id="insertReturnedGoods" parameterClass="Goods">
    	insert into uploadGoods(
			id, code, barcode,  name, marketPrice, productUnitName, 
			mulspec1Name, mulspec1Value,  flag
		)
		values(
			#id#, #code#, #barcode#, #name#, #marketPrice#,  #productUnitName#, 
			#mulspec1Name#, #mulspec1Value#, 2
		)
    </insert>
    
    <update id="modifySyncState"  parameterClass="Goods">
    	update uploadGoodsflag  set flag = 2
		where spbh = #code#

    </update>
    
    <delete id="cleanReturnedGoodses">
		delete from uploadGoods 
		where code in (
			select spbh from uploadGoodsflag where flag = 2
		)      
    </delete>
    
    <update id="modifyExistedStatus"  parameterClass="Goods">
    	<!-- update t_test_goods  set flag = 2
		where spbh = #code# -->

    </update>

	<update id="updateGoodsFlag"  parameterClass="java.util.Map">
    	update t_test_goods  set fmarketprice = #flag#
		where fcode = #code#
    </update>
    
</sqlMap>