<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE sqlMap PUBLIC "-//ibatis.apache.org//DTD SQL Map 2.0//EN"
        "http://ibatis.apache.org/dtd/sql-map-2.dtd">

<sqlMap namespace="U8Inventory">
    
   <resultMap id="resultmap" class="java.util.HashMap">  
     <result property="code" column="code" javaType="java.lang.String" />  
     <result property="count" column="count" javaType="java.lang.String" />  
    </resultMap>  

    <select id="findAllInventory" resultMap="resultmap" parameterClass="map">
    	select
    			d.spbh as code, d.kcshl as count
		from (
				select a.*,b.spbh, b.beactive
				from spkfjc a 
				inner join spkfk b on a.spid = b.spid
				inner join uploadGoodsflag c on c.spid = a.spid
				where  b.dw != '' and b.beactive='是' and b.spid != '' and c.flag = 2
			) d
    </select>
    
    <update id="updateSyncStatus" parameterClass="map">
      update t_inventory_sync_status    
      <dynamic prepend="set" >
        FSYNC_STATUS=#sync_status#
      </dynamic>     
      where FID=#FID#      
    </update>
    
    
</sqlMap>
