<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE sqlMap PUBLIC "-//ibatis.apache.org//DTD SQL Map 2.0//EN"
        "http://ibatis.apache.org/dtd/sql-map-2.dtd">

<sqlMap namespace="U8OrderFund">
    <typeAlias alias="Order" type="com.ircloud.ydh.sdk4j.model.Order"/>
    <typeAlias alias="OrderDetail" type="com.ircloud.ydh.sdk4j.model.OrderDetail"/>
    
    <sql id="Base_Columns">
    djbh, 
	djbs, 
	djlx, 
	bendian, 
	rq, 
	is_wlqr, 
	is_kfqr, 
	dwbh, 
	ywy, 
	bm, 
	is_zx, 
	shenhe, 
	shenhr, 
	shenhrq, 
	shenhyj, 
	yanshr, 
	yansrq, 
	jsfsid, 
	sjsz, 
	isjs, 
	tkjsfs, 
	tkje, 
	xg, 
	shenchr, 
	piaohao, 
	ysyfje, 
	bezzs, 
	use_ysyf, 
	beizhu, 
	username, 
	kaiprq, 
	ontime, 
	ywbmid, 
	ywyid, 
	XTYPE, 
	songhfs, 
	fukuanfs, 
	thfs
    </sql>
    
    <sql id="Detail_Base_Columns">
   	djbh, 
  	dj_sn, 
  	dj_sort, 
  	spid, 
  	dw, 
  	jlgg, 
  	pihao, 
  	baozhiqi, 
  	sxrq, 
  	baozhshl, 
  	lingsshl, 
  	hw, 
  	shl, 
  	dj, 
  	hshj, 
  	koul, 
  	je, 
	shlv, 
	she, 
	hsje, 
	lshj, 
	zengp, 
	wlqrshl, 
	wlqxsl, 
	wlqrjg, 
	wlqrshe, 
	wlqrhsje, 
	is_wlzx, 
	kfqrshl, 
	kfqxsl, 
	is_kfzx, 
	is_zx, 
	is_gsp, 
	isjs, 
	istk,
	yiwchsl,
	canssl, 
	quxsl, 
	yiwchje, 
	yiwchsje, 
	pici, 
	fapiaoh, 
	bukccb, 
	nhshj, 
	yhshj, 
	jiansh, 
	buckcb, 
	is_hs, 
	chbdj, 
	yhsshl, 
	yhesje, 
	xgdjbh,
	recnum, 
	ys_sn, 
	ydj, 
	ndj, 
	weixsl, 
	yixsl, 
	duiydjbh, 
	duiydj_cn, 
	lshje, 
	phyqlx, 
	miejph, 
	beizhu, 
	is_jush    
    </sql>
    
    <insert id="insertOrderFund" parameterClass="Order">
		insert into jzorder_hz(<include refid="Base_Columns"/>)
        values(
        (select 'XSG'+'ZDA'+'YDH'+SUBSTRING(#orderNum#, 15,6)), 
        'XSG', 
        '212', 
        'ZDA', 
        (select CONVERT(char,#createTime#,23)), 
        '否', 
        '否', 
        isnull((select dwbh from mchk where danwbh=#customer.code#),'000000'), 
        '艾威', 
        '集团采购部', 
        '否', 
        '否', 
		'', 
		'', 
		'', 
		'', 
		'', 
		'', 
		0, 
		'否', 
		'', 
		0, 
		'', 
		'', 
		'', 
		0, 
		'是',  
		'否', 
		#remark#, 
		'', 
		(select CONVERT(char,#createTime#,23)), 
		(select CONVERT(char,#createTime#,108)), 
		'DBM00000002', 
		'ZIY00000061', 
		'', 
		'', 
		'', 
		'自送'
        )
    </insert>

    <insert id="insertOrderFundDetail" parameterClass="OrderDetail">
    
     	insert into jzorder_mx(<include refid="Detail_Base_Columns"/>)
        values(
        (select 'XSG'+'ZDA'+'YDH'+SUBSTRING(#orderNum#, 15,6)), 
       	isnull((select (max(dj_sn)+1) from jzorder_mx where djbh='XSG'+'ZDA'+'YDH'+SUBSTRING(#orderNum#, 15,6) ),1), 
        isnull((select (max(dj_sort)+1) from jzorder_mx where djbh= 'XSG'+'ZDA'+'YDH'+SUBSTRING(#orderNum#, 15,6) ),1),
        isnull((select spid from spkfk where spbh=#productCode# and beactive = '是'), '000000'), 
       	isnull((select dw from spkfk where spbh=#productCode# and beactive = '是'),''), 
        isnull((select jlgg from spkfk where spbh=#productCode# and beactive = '是'),''), 
        '', 
        '', 
        '',
         0, 
         0, 
         'HWI10000001', 
        #count#, 
        #price#, 
         (select #price#*(1+(select shlv from spkfk where spid=#productCode# and beactive = '是')/100) ), 
         100, 
        #money#,
		17, 
		(select #count#*(#price#*(select shlv from spkfk where spid=#productCode# and beactive = '是')/100)), 
		 #money#, 
		0, 
		'否', 
		0, 
		0, 
		0, 
		0, 
		0, 
		'否', 
		0, 
		0, 
		'否', 
		'否', 
		'否', 
		'否', 
		'否',
		0, 
		0, 
		0, 
		0, 
		0, 
		'', 
		'', 
		0, 
		0, 
		0, 
		0, 
		0, 
		'否', 
		0, 
		0, 
		0, 
		'',
		0, 
		isnull((select (max(ys_sn)+1) from jzorder_mx where djbh=  'XSG'+'ZDA'+'YDH'+SUBSTRING(#orderNum#, 15,6) ),1), 
		0, 
		0, 
		0, 
		0, 
		'', 
		0, 
		0, 
		'', 
		'', 
		'', 
		''
        )
    </insert>
    
    <delete id="deleteOrderFund" parameterClass="Order">    
        delete from jzorder_hz where djbh = 'XSG'+'ZDA'+'YDH'+SUBSTRING(#orderNum#, 15,6)
    </delete>
    
    <delete id="deleteOrderFundDetail" parameterClass="Order">    
        delete from jzorder_mx where djbh = 'XSG'+'ZDA'+'YDH'+SUBSTRING(#orderNum#, 15,6)
    </delete>
    
</sqlMap>