<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE sqlMap PUBLIC "-//ibatis.apache.org//DTD SQL Map 2.0//EN"
        "http://ibatis.apache.org/dtd/sql-map-2.dtd">

<sqlMap namespace="SdProSaleBill">
    <typeAlias alias="Order" type="com.ircloud.ydh.sdk4j.model.Order"/>
    <typeAlias alias="OrderDetail" type="com.ircloud.ydh.sdk4j.model.OrderDetail"/>
    
   <sql id="Base_Columns">
		BILLID,
		BILLKIND,
		BILLSTATE,
		BILLCODE,
		BILLDATE,
		TRADERID,
		NOTETYPE,
		NOTENO,
		SHOPID,
		DEPARTMENTID,
		PAYMETHODID,
		ACCOUNTID,
		MONEYID,
		EMPID,
		OPID,
		CHECKORID,
		CREDID,
		PRINTTMPLTID,
		AMOUNT,
		EXRATE,
		DISC,
		LCAMOUNT,
		PAYAMT,
		LCPAYAMT,
		REFERAMT,
		LCREFERAMT,
		REFERCOUNT,
		SHIPTYPE,
		TERMDAYS,
		CHECKNO,
		BILLTO,
		CTRADERID,
		HADEXPORTED,
		INVOICETYPE,
		INVOICEAMT,
		CLOSEINVOICE,
		USERDEF1,
		USERDEF2,
		USERDEF3,
		USERDEF4,
		USERDEF5,
		USERDEF6,
		USERDEF7,
		USERDEF8,
		USERDEF9,
		USERDEF10,
		USERDEF11,
		USERDEF12,
		USERDEF13,
		USERDEF14,
		USERDEF15,
		UPDATETIME,
		REMARK,
		SFLAG,
		PAYDATE,
		LINKMAN,
		CONTACTPHONE,
		CONTACTFAX,
		LINKMANID,
		CHECK1,
		CHECK1TIME,
		CHECK2,
		CHECK2TIME,
		CHECK3,
		CHECK3TIME,
		CHECK4,
		CHECK4TIME,
		CHECK5,
		CHECK5TIME,
		CHECK6,
		CHECK6TIME,
		ISHQSTORE,
		HQSTOREID,
		SHOPTYPEID,
		SUBID,
		POINT,
		LASTPOINT,
		VIPID,
		PROJECTID,
		DELIVERYMANID
  </sql>

  <sql id="Detail_Base_Columns">
		BILLID,
		ITEMNO,
		STOREID,
		GOODSID,
		APRICE,
		PRICE,
		QUANTITY,
		TAXRATE,
		DISC,
		AMOUNT,
		UNITID,
		UNITQUANTITY,
		UNITPRICE,
		UNITQTY1,
		UNITQTY2,
		UNITQTY3,
		EXTQTY,
		TAXAMT,
		GOODSAMT,
		LCPRICE,
		LCUNITPRICE,
		LCTAXPRICE,
		LCTAXAMT,
		LCGOODSAMT,
		LCAMOUNT,
		MARGIN,
		BATCHCODE,
		PRODUCTDATE,
		VALIDDATE,
		BREFERID,
		REFERBILLTYPE,
		REFERBILLID,
		REFERBILLCODE,
		REFERITEMNO,
		USERDEF1,
		USERDEF2,
		USERDEF3,
		USERDEF4,
		USERDEF5,
		USERDEF6,
		USERDEF7,
		USERDEF8,
		USERDEF9,
		USERDEF10,
		USERDEF11,
		USERDEF12,
		USERDEF13,
		USERDEF14,
		USERDEF15,
		REMARK,
		CONTRACTNO,
		TAXPRICE,
		ORIGPRICE,
		ORIGTAXPRICE,
		ISLARGESS,
		ISALLOT,
		ALLOTQTY,
		POINT,
		BARCODEID,
		REFERBATCHCODE
  </sql>
  
    <sql id="ReturnOrder_Base_Columns">
    	BILLID,
		BILLKIND,
		BILLSTATE,
		BILLCODE,
		BILLDATE,
		TRADERID,
		CTRADERID,
		SHOPID,
		DEPARTMENTID,
		PAYMETHODID,
		OPID,
		MODIFIERID,
		CHECKORID,
		EMPID,
		CREDID,
		MONEYID,
		VALIDDATE,
		PRINTTMPLTID,
		AMOUNT,
		EXRATE,
		LCAMOUNT,
		FORWARDAMT,
		LCFORWARDAMT,
		REFERAMT,
		REFERCOUNT,
		SHIPTYPE,
		CONTACTPHONE,
		CONTACTOR,
		CONTRACTNO,
		REVDATE,
		BILLTO,
		CLOSED,
		CLOSEREASON,
		USERDEF1,
		USERDEF2,
		USERDEF3,
		USERDEF4,
		USERDEF5,
		USERDEF6,
		USERDEF7,
		USERDEF8,
		USERDEF9,
		USERDEF10,
		USERDEF11,
		USERDEF12,
		USERDEF13,
		USERDEF14,
		USERDEF15,
		UPDATETIME,
		REMARK,
		SFLAG,
		LINKMAN,
		CONTACTFAX,
		LINKMANID,
		CHECK1,
		CHECK1TIME,
		CHECK2,
		CHECK2TIME,
		CHECK3,
		CHECK3TIME,
		CHECK4,
		CHECK4TIME,
		CHECK5,
		CHECK5TIME,
		CHECK6,
		CHECK6TIME,
		DISTRIBUTORID,
		PROJECTID
    </sql>
    
    <sql id="ReturnOrder_Detail_Base_Columns">
    	BILLID,
		ITEMNO,
		STOREID,
		GOODSID,
		PRICE,
		QUANTITY,
		DISC,
		TAXRATE,
		AMOUNT,
		LCPRICE,
		LCUNITPRICE,
		LCTAXPRICE,
		LCTAXAMT,
		LCGOODSAMT,
		LCAMOUNT,
		UNITID,
		UNITQUANTITY,
		UNITPRICE,
		UNITQTY1,
		UNITQTY2,
		UNITQTY3,
		EXTQTY,
		TAXAMT,
		GOODSAMT,
		BATCHCODE,
		PRODUCTDATE,
		VALIDDATE,
		MPSREFERED,
		BREFERID,
		REFERBILLTYPE,
		REFERBILLID,
		REFERBILLCODE,
		REFERITEMNO,
		CLOSED,
		USERDEF1,
		USERDEF2,
		USERDEF3,
		USERDEF4,
		USERDEF5,
		USERDEF6,
		USERDEF7,
		USERDEF8,
		USERDEF9,
		USERDEF10,
		USERDEF11,
		USERDEF12,
		USERDEF13,
		USERDEF14,
		USERDEF15,
		REMARK,
		TAXPRICE,
		ORIGPRICE,
		ORIGTAXPRICE,
		ISLARGESS,
		CHARGEDATE,
		BARCODEID
    </sql>

    <insert id="saveOrder" parameterClass="Order">
        insert into s_sale(<include refid="Base_Columns"/>)
        values(
       		(select maxkey+1 from as_tablekeys where tablename='s_sale'),
			1,
			0,
			#orderNum#,
			#createTime#,
			isnull((select traderid from l_trader where code = #customer.code#), 0),
			3,
			NULL,
			0,
			5,
			NULL,
			NULL,
			0,
			23,
			0,
			NULL,
			NULL,
			NULL,
			#money#,
			1,
			100,
			#money#,
			0,
			0,
			0,
			0,
			0,
			1,
			30,
			NULL,
			'',
			isnull((select traderid from l_trader where code = #customer.code#), 0),
			NULL,
			NULL,
			NULL,
			0,
			NULL,
			NULL,
			NULL,
			NULL,
			NULL,
			NULL,
			NULL,
			NULL,
			NULL,
			NULL,
			NULL,
			NULL,
			NULL,
			NULL,
			NULL,
			getdate(),
			#remark#,
			0,
			getdate(),
			(select contactor from l_trader where code = #customer.code#),
			(select tel1 from l_trader where code = #customer.code#),
			(select fax from l_trader where code = #customer.code#),
			NULL,
			NULL,
			NULL,
			NULL,
			NULL,
			NULL,
			NULL,
			NULL,
			NULL,
			NULL,
			NULL,
			NULL,
			NULL,
			NULL,
			NULL,
			NULL,
			NULL,
			0,
			NULL,
			NULL,
			NULL,
			NULL	
		)
    </insert>

    <insert id="saveOrderDetail" parameterClass="OrderDetail">
        insert into s_saledetail(<include refid="Detail_Base_Columns"/>)
        values(
			(select billid from s_sale where BILLCODE = #orderNum#),
			isnull((select MAX(itemno)+1 from s_saledetail where billid = (select billid from s_sale where billcode = #orderNum#)),1),
			1,
			(select goodsid from l_goods where code = #productCode#),
			0,
			(select #price#/(1+rate/100) from l_goods where code = #productCode#),
			#count#,
			(select rate from l_goods where code = #productCode#),
			100,
			#money#,
			(select unitid from l_goodsunit where isbase = 1 and goodsid = (select goodsid from l_goods where code = #productCode#)),
			#count#,
			(select #price#/(1+rate/100) from l_goods where code = #productCode#),
			#count#,
			0,
			0,
			0,
			(select #count#*#price#*rate/100 from l_goods where code = #productCode#),
			(select #count#*#price#/(1+rate/100) from l_goods where code = #productCode#),
			(select #price#/(1+rate/100) from l_goods where code = #productCode#),
			(select #price#/(1+rate/100) from l_goods where code = #productCode#),
			#price#,
			(select #count#*#price#*rate/100 from l_goods where code = #productCode#),
			(select #count#*#price#/(1+rate/100) from l_goods where code = #productCode#),
			#money#,
			0,
			NULL,
			NULL,
			NULL,
			NULL,
			'',
			'',
			'',
			'',
			'',
			'',
			'',
			'',
			'',
			'',
			'',
			'',
			'',
			'',
			'',
			'',
			'',
			'',
			'',
			#productRemark#,
			'',
			#price#,
			(select #price#/(1+rate/100) from l_goods where code = #productCode#),
			#price#,
			0,
			0,
			0,
			NULL,
			NULL,
			NULL
			        
        )
    </insert>
    
    
   <!-- 保存退货单 -->
 	<insert id="saveReturnOrder" parameterClass="Order">
 		insert into s_order (<include refid="ReturnOrder_Base_Columns"/>)
 		values(
 			(select maxkey+1 from as_tablekeys where tablename='s_order'),
			1,
			0,
			#orderNum#,
			#createTime#,
			isnull((select traderid from l_trader where code = #customer.code#), 0),
			isnull((select traderid from l_trader where code = #customer.code#), 0),
			0,
			5,
			1,
			0,
			NULL,
			NULL,
			23,
			NULL,
			0,
			'2050-12-31 00:00:00',
			NULL,
			#money#,
			1,
			#money#,
			0,
			0,
			0,
			0,
			NULL,
			(select tel1 from l_trader where code = #customer.code#),
			NULL,
			NULL,
			#createTime#,
			(select shipto from l_trader where code = #customer.code#),
			0,
			NULL,
			NULL,
			NULL,
			NULL,
			NULL,
			NULL,
			NULL,
			NULL,
			NULL,
			NULL,
			NULL,
			NULL,
			NULL,
			NULL,
			NULL,
			NULL,
			getdate(),
			#remark#,
			0,
			(select contactor from l_trader where code = #customer.code#),
			(select fax from l_trader where code = #customer.code#),
			NULL,
			NULL,
			NULL,
			NULL,
			NULL,
			NULL,
			NULL,
			NULL,
			NULL,
			NULL,
			NULL,
			NULL,
			NULL,
			NULL,
			NULL
 		)
 	</insert>
 	
    <insert id="saveReturnOrderDetail" parameterClass="OrderDetail">
    	insert into s_orderdetail (<include refid="ReturnOrder_Detail_Base_Columns"/>)
    	values(
    		(select billid from s_order where BILLCODE = #orderNum#),
			isnull((select MAX(itemno)+1 from s_orderdetail where billid = (select billid from  s_order where billcode = #orderNum#)),1),
			NULL,
			(select goodsid from l_goods where code = #productCode#),
			(select #price#/(1+rate/100) from l_goods where code = #productCode#),
			#count#,
			100,
			(select rate from l_goods where code = #productCode#),
			#money#,
			(select #price#/(1+rate/100) from l_goods where code = #productCode#),
			(select #price#/(1+rate/100) from l_goods where code = #productCode#),
			#price#,
			(select #count#*#price#*rate/100 from l_goods where code = #productCode#),
			(select #count#*#price#/(1+rate/100) from l_goods where code = #productCode#),
			#money#,
			(select unitid from l_goodsunit where isbase = 1 and goodsid = (select goodsid from l_goods where code = #productCode#)),
			#count#,
			(select #price#/(1+rate/100) from l_goods where code = #productCode#),
			#count#,
			0,
			0,
			0,
			(select #count#*#price#*rate/100 from l_goods where code = #productCode#),
			(select #count#*#price#/(1+rate/100) from l_goods where code = #productCode#),
			NULL,
			NULL,
			NULL,
			NULL,
			NULL,
			NULL,
			NULL,
			NULL,
			NULL,
			0,
			NULL,
			NULL,
			NULL,
			NULL,
			NULL,
			NULL,
			NULL,
			NULL,
			NULL,
			NULL,
			NULL,
			NULL,
			NULL,
			NULL,
			NULL,
			NULL,
			#price#,
			(select #price#/(1+rate/100) from l_goods where code = #productCode#),
			#price#,
			0,
			#createTime#,
			NULL		
 		)
    </insert>
    
    <!-- 删除订货单 -->
    <update id="deleteOrders" parameterClass="java.util.List">
      DELETE FROM s_sale WHERE BILLCODE in
      <iterate conjunction="," open="(" close=")">
         #list[].orderNum#
      </iterate>
    </update>   
    
    <update id="deleteOrderDetails" parameterClass="java.util.List">
      DELETE FROM s_saledetail WHERE BILLID in 
      (select BILLID from s_sale where BILLCODE in
	      <iterate conjunction="," open="(" close=")">
	         #list[].orderNum#	         
	      </iterate>
	  )
    </update>
    <!-- 删除退货单 -->
	<update id="deleteReturnOrders" parameterClass="java.util.List">
      DELETE FROM s_order WHERE billcode in
      <iterate conjunction="," open="(" close=")">
         #list[].orderNum#
      </iterate>
    </update>   
    
    <update id="deleteReturnOrderDetails" parameterClass="java.util.List">
      DELETE FROM s_orderdetail WHERE billid in (select billid from s_order where billcode in
	      <iterate conjunction="," open="(" close=")">
	         #list[].orderNum#	         
	      </iterate>
	  )
    </update>
    
    
    <!-- 执行存储过程 -->
	<procedure id="excuteProcedure" parameterClass="Order">
	    exec Set_YDHOrder_MaxID #orderNum#, #type#
	</procedure>
    
    <resultMap id="findAllCancelOrder" class="Order">  
      <result property="orderNum" column="orderNum" javaType="java.lang.String" />  
    </resultMap>
    
    <select id="findAllCancelOrder" parameterClass="int" resultMap="findAllCancelOrder"   >
       
    </select>
    
</sqlMap>
