<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE sqlMap PUBLIC "-//ibatis.apache.org//DTD SQL Map 2.0//EN"
        "http://ibatis.apache.org/dtd/sql-map-2.dtd">

<sqlMap namespace="SpecialJob">
    
    <!-- 商品、客户数据预处理执行存储过程 -->
	<procedure id="excuteProcedure" >
	    CALL testPro;
	</procedure>
    
    
</sqlMap>
